@{
    ViewBag.Title = "About this Project/Assignment";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<h5>Step 362: Final Assignment; C# & .NET Framework Course; The Tech Academy</h5>

<p>
    As mentioned throughout our program, one of the skills required of a developer is problem solving and learning new technologies. This final exercise exists to have you learn something 
    new without us providing you with the resources. Meaning, you will now be required to do something that you haven't been taught. 
    This challenge is meant to better prepare you for future job and life situations wherein you will need to learn new technologies on your own.
    <br /><br />There are four challenges to choose from. Pick one that interests you and that you are not already familiar with. After you have chosen which challenge you would like to do, 
    train yourself up in that area. Research the area online, read articles, watch tutorials, etc. After you have an understanding of the technology involved, tackle the challenge.
    <br /><br />Note: One could easily spend days or even weeks on these challenges but this Final Exercise is only meant to take hours. Keep your project very simple and basic for time's sake.<br />
    Here are the four challenges to choose from:<br /><br />
    <b>1. Make a C# application using Entity Framework Code First.</b><br /><br />
    2. Make a Console application, web form or MVC project in Visual Studio to use an excel spreadsheet as a data source for SQL Server.<br /><br />
    3. Create an ASP.NET Single Page Application using Knockout.js.<br /><br />
    4. Create and deploy a sample report through utilization of SQL Server Reporting Services.<br />
    <br />Update final code and submit to instructors via GitHub.
</p>