@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Entity Framework Code First Project: <i><b>Epling Pets</b> </i> </h1>
    <p class="lead">For the Final Project of the C# .NET Framework Course, The Tech Academy, by student web developer: Samantha Epling.</p>
    <p><a href="http://SamanthaEpling.github.io" class="btn btn-primary btn-lg">Samantha Epling's Portfolio  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>About</h2>
        <p>A small snippet about the assignment in general.</p>
        <p><a class="btn btn-default" href="/Home/About">Go to About &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Contact Page</h2>
        <p>Information of not only this website developer, Samantha Epling, but also of the school: The Tech Academy.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Go to Contact &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Species</h2>
        <p>Info regarding all the different species present in the Epling household.</p>
        <p><a class="btn btn-default" href="/Species/Index">Go to Species &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Breeds</h2>
        <p>Information regarding all the different breeds present in the Epling household.</p>
        <p><a class="btn btn-default" href="/Breeds/Index">Go to Breeds &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pets</h2>
        <p>Information regarding all the different individual pets of the Epling household.</p>
        <p><a class="btn btn-default" href="/Pet/Index">Go to Pets &raquo;</a></p>
    </div>
</div>