@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    The Tech Academy<br />
    310 SW 4th Ave Suite 200<br />
    Portland, Oregon 97204<br />
    <abbr title="Phone">P:</abbr>
    503.206.6915
</address>

<address>
    <strong>Samantha's Portfolio Website, GitHub</strong>   <a href="SamanthaEpling.github.io">SamanthaEpling.github.io</a><br />
    <strong>The Tech Academy</strong> <a href="https://learncodinganywhere.com/">https://learncodinganywhere.com/</a>
</address>