@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CarInsApp</h1>
    <p class="lead">Assignment: MVC Practical Exercise, Using: Visual Studio, ASP.NET, MS MVC</p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Home Page</h2>
        <p>Preloaded, yet modified index.cshtml page for this particular assignment.</p>
    </div>
    <div class="col-md-2">
        <h2>Quote Page</h2>
        <p>The bulk of the assignment resides here.</p>
        <p><a class="btn btn-default" href="../Quote/Index">Get Quote &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Admin Page</h2>
        <p>Per the assignment's requirements, a page for admin personnel.</p>
        <p><a class="btn btn-default" href="../Quote/Admin">Go to Admin Page &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>About Page</h2>
        <p>A small snippet about the assignment in general.</p>
        <p><a class="btn btn-default" href="/Home/About">About &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Contact Page</h2>
        <p>Information of not only the developer, Samantha Epling, but also of the school: The Tech Academy.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact &raquo;</a></p>
    </div>
</div>